<html>
<head>
    <title>Help</title>
</head>
<body>
    This is the top page for Web Photo Frame.
    We supply these API.
    <ul>
        <li>/sheet/[key]/[worksheet] : the infomation of this spread sheet</li>
        <li>/img/[key]/[worksheet]/[name] : the named image, deprecated</li>
        <li>/delete/[key]/[worksheet]/ : delete these images</li>
        <li>/delete/[key]/[worksheet]/[name] : delete this image</li>
        <li>/upload/[key]/[worksheet]/[name] : upload this image to CDN</li>
    </ul>

</body>
</html>